<div class="page-head">
    <div class="title">LEVEL</div>
</div>
<div class="page-zone">
    <canvas id="render-canvas"></canvas>
    <div id="level-victory-zone" hidden>
        <div id="level-victory-turns">
            <span>turns </span><span>42</span>
        </div>
        <div id="level-victory-score">
            <img id='victory-star-1' class='level-icon-star' src="./img/star-yellow.svg"/>
            <img id='victory-star-2' class='level-icon-star' src="./img/star-yellow.svg"/>
            <img id='victory-star-3' class='level-icon-star' src="./img/star-yellow.svg"/>
        </div>
        <div id="level-victory-foot">
            <div class="btn-foot-group">
                <button id="victory-next" class="btn-foot" type="button">next</button>
            </div>
        </div>
    </div>
</div>
<div class="page-foot">
    <div class="btn-foot-group">
        <button id="restart" class="btn-foot" type="button">restart</button>
        <button id="back-main-menu" class="btn-foot" type="button">back</button>
    </div>
</div>