html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#render-canvas {
    touch-action: none;
}

.page-zone {
    text-align: center;
    margin: 10px;
}
