@font-face {
	font-family: "Afritubu";
	src: url("./afritubu.ttf");
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

.title {
    color: white;
    font-size: 12vmin;
    font-family: "Afritubu";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.btn-main-menu {
    color: white;
    font-size: 7vmin;
    font-family: "Afritubu";
    width: 80%;
    height: 70%;
    margin: 8%;
    padding: 0px;
    background: url("../img/button.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    text-align: center;
    vertical-align: middle;
}

.btn-foot {
    color: white;
    font-family: "Afritubu";
    width: 40%;
    height: 60%;
    font-size: 65px;
    margin: 4%;
    padding: 0px;
    background: url("../img/button.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    text-align: center;
    vertical-align: middle;
}

.row.level-icon-row {
    height: 25%;
    margin: 0px;
    padding: 2.5%;
}

.level-icon-cell {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.level-icon {
    padding: 0;
    border-top: solid 2px white;
    border-bottom: solid 4px white;
    border-left: solid 3px white;
    border-right: solid 1px white;
    height: 100%;
}

.level-icon-picture {
    color: white;
    font-size: 48px;
    font-family: "Afritubu";
    margin: 0;
    height: 70%;
    border-bottom: solid 2px white;
}

.level-icon-score {
    margin: 0;
    height: 30%;
}

.level-icon-star { 
    height: 60%;
    margin-top: 2.5%;
}

#page {
    margin-top: 2.5%;
    height: 90%;
    padding: 0px;
    background: url("../img/background.svg");
    background-size: cover;
}

#render-canvas {
    touch-action: none;
    width: 100%;
    height: 100%;
}

.page-head {
    position: relative;
    height: 20%;
    margin: 0px;
    padding: 0;
}

.page-zone {
    position: relative;
    height: 60%;
    margin: 0px;
    padding: 0;
    text-align: center;
}

.page-foot {
    position: relative;
    height: 20%;
    margin: 0px;
    padding: 0;
    text-align: center;
}

#level-victory-zone {
    position: absolute;
    top: 15%;
    left: 12.5%;
    height: 60%;
    width: 75%;
    color: white;
    font-size: 48px;
    font-family: "Afritubu";
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 50px;
}

#level-victory-turns {
    position: relative;
    height: 25%;
    margin: 0px;
    padding: 0;
}

#level-victory-score {
    position: relative;
    height: 40%;
    margin: 0px;
    padding: 0;
}

#level-victory-foot {
    position: relative;
    height: 35%;
    margin: 0px;
    padding: 0;
}